<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.yao.upms.client.mapper.UserMapper">

    <select id="findUserByName" parameterType="string" resultType="com.y3tu.yao.upms.client.entity.User">
		SELECT
        u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.password,
        u.status,
        u.create_time createTime,
        u.ssex sex,
        u.DEPARTMENT_ID departmentId,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        d.department_name departmentName,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_department d ON (u.DEPARTMENT_ID = d.DEPARTMENT_ID)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE  u.username = #{username}
        group by u.username,u.user_id,u.email,u.mobile,u.password, u.status,u.create_time,u.ssex,u.DEPARTMENT_ID
				,u.last_login_time,u.modify_time,u.description,u.avatar
    </select>

    <select id="findUserByMobile" parameterType="string" resultType="com.y3tu.yao.upms.client.entity.User">
        SELECT
        u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.password,
        u.status,
        u.create_time createTime,
        u.ssex sex,
        u.DEPARTMENT_ID departmentId,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        d.department_name departmentName,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_department d ON (u.DEPARTMENT_ID = d.DEPARTMENT_ID)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE  u.mobile = #{mobile}
        group by u.username,u.user_id,u.email,u.mobile,u.password, u.status,u.create_time,u.ssex,u.DEPARTMENT_ID
				,u.last_login_time,u.modify_time,u.description,u.avatar
    </select>

    <select id="page" parameterType="map" resultType="com.y3tu.yao.upms.client.entity.User">
        SELECT
        u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.status,
        u.create_time createTime,
        u.ssex sex,
        u.DEPARTMENT_ID departmentId,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        d.department_name departmentName,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_department d ON (u.department_id = d.department_id)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE 1 = 1
        <if test="entity.username != null and entity.username != ''">
            AND u.username = #{entity.username}
        </if>
        <if test="entity.departmentId != null and entity.departmentId != ''">
            AND d.departmentId = #{entity.departmentId}
        </if>
        <if test="entity.sex != null and entity.sex != ''">
            AND u.ssex = #{entity.sex}
        </if>
        <if test="entity.status != null and entity.status != ''">
            AND u.status = #{entity.status}
        </if>
        <if test="entity.mobile != null and entity.mobile != ''">
            AND u.mobile = #{entity.mobile}
        </if>
        <if test="entity.departmentName != null and entity.departmentName != ''">
            AND d.department_name like CONCAT('%',#{entity.departmentName},'%')
        </if>
        <if test="params.createTimeFrom != null and params.createTimeFrom !=''">
            And u.create_time &gt; #{params.createTimeFrom}
        </if>
        <if test="params.createTimeTo!= null and params.createTimeTo !=''">
            And u.create_time &lt; #{params.createTimeTo}
        </if>
        group by u.username,u.user_id,u.email,u.mobile,u.status,u.create_time,u.ssex,
        u.department_id,u.last_login_time,u.modify_time,u.description,u.avatar
    </select>

</mapper>
